@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    /* Ajuste para o header fixo */
}

body {
    font-family: 'Figtree', sans-serif;
}


/* Page transitions */
.page-enter-active,
.page-leave-active {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(5px);
}

/* Menu transitions */
.menu-enter-active,
.menu-leave-active {
    transition: all 0.3s ease-out;
}

.menu-enter-from,
.menu-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}